
.custom-modal {
    position: relative;
    max-width: 500px;
    width: 90%;
    background: white;
    border-radius: 8px;
    padding: 20px;
    outline: none;
}


/* .custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
} */
